.title_class{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    margin: 5px;

}
.fixed_item{
    position: sticky;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top:0
}
.scrolling_item{
    background-color: rgb(255, 255, 255);
}
#logo{
    width: 330px;
    height: auto;

}
#sub_title{
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px;
    width: 320px;
    position: relative;
    left: 100px;
    color: rgb(0, 0, 0);
}
.line{
    position: relative;
}
.choice_class{
    color: black;
}
#med_name_link{
    color: black;
}
#med_info_link{
    color: black;
}
#med_ref_link{
    color: black;
}
#med_info_link:hover{
    width: fit-content;
    height: 25px;
    background-color: rgb(11, 11, 90);
    padding: 2px;
    border-radius: 2px;
    color: aliceblue;
}
#med_ref_link:hover{
    width: fit-content;
    height: 25px;
    padding: 2px;
    background-color: rgb(11, 11, 90);
    border-radius: 2px;
    color: aliceblue;
}
#med_name_link:hover{
    width: fit-content;
    height: 25px;
    padding: 2px;
    background-color: rgb(11, 11, 90);
    border-radius: 2px;
    color: aliceblue;
}
.choice_class{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
    margin: 5px 0px 0px 0px;
    height: 40px;
    width: 270px;
    font-weight: bold;
    color: rgb(1, 1, 1);
    font-size: 22px;
}
.text{
    margin: 10px;
    font-size: 22px;
}
.square_img{
    width: 230px;
    height: 150px;
}
.square_text{
    font-size: 10px;
}


.med_info_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 80px 80px;
    
}
.med_info{
    display: flex;
    flex-direction: column;
    align-content:space-around;
    padding:20px;
}
.med_info_img{
    width: 280px; /* 调整图像的宽度 */
    /* height: 180px;  */
    vertical-align: middle; /* 可选：将图像垂直居中 */
    margin: 20px;
}
.med_info{
    font-size: 22px;
}
#ref_title{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
