/* 側邊欄的樣式 */
.sidebar {/*level 1*/
    height: 500px;
    width: 900px;
    position: fixed;
    top: 75px; 
    right: -900px; /* 初始位置為合起來(距右邊-450) */
    background-color: #333;
    /* padding-top: 60px; */
    transition: right 0.3s; /* 使用 right 屬性的過渡效果 */
    z-index: 1;
    overflow-y: auto;
    padding-bottom: 20px;
  }

  /* 頁面內容的樣式 */
  .page-content {
    /* 留出側邊欄的寬度 */
    
    padding: 10px;
    margin:10px;
    border-radius: 10px;

    background-color: #f2ece4;
    display: flex;
    flex-flow: row wrap;
    align-content:space-around;
    
    /* height:1000px; */
    /* border:#fb0404;border-style:solid;border-width:12px;padding:5px; */
    
  }
  .rounded-button {
  display: flex;
  justify-content: center; /* 將內容水平置中 */
  align-items: center; /* 將內容垂直置中 */
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
}

  /* 開啟側邊欄的按鈕樣式 */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    width:60px;
    height:60px;
    position: absolute;
    right: 0;
    border-radius: 5px; /* 圓弧形的四個角 */
  }
  


/*上方橫條的樣式們*/
  .position-fix-wrapper{
    position: sticky;
    top:0;
    background-color: white;
  }
  .title_class{
      padding: 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 50px;
      margin: 5px;
      position: sticky;/*頂部固定*/
      top:0;
  }
  #logo{
      width: 330px;
      height: auto;
  }
  #sub_title{
      font-weight: bold;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 40px;
      width: 320px;
      position: relative;
      left: 80px;
      color: rgb(0, 0, 0);
  }
  .line{
      position: relative;
      top: 10px;
    
  }
  .choice_class{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 2px;
      margin: 5px 0px 0px 0px;
      height: 20px;
      width: 270px;
      font-weight: bold;
      color: rgb(1, 1, 1);
      
  }
  #med_name{ color:black;}
  #med_info{ color:black;}
  #med_ref{ color:black;}
  #med_info:hover{
    width: fit-content;
    height: 25px;
    background-color: rgb(11, 11, 90);
    padding: 2px;
    border-radius: 2px;
    color: aliceblue;
}
#med_ref:hover{
    width: fit-content;
    height: 25px;
    padding: 2px;
    background-color: rgb(11, 11, 90);
    border-radius: 2px;
    color: aliceblue;
}
#med_name:hover{
    width: fit-content;
    height: 25px;
    padding: 2px;
    background-color: rgb(11, 11, 90);
    border-radius: 2px;
    color: aliceblue;
}
  /*側邊欄位選項內容*/
  .Conditions{/*level 2*/
    
    background-color: white;
    margin:5px;
    border-radius: 10px;

    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content:space-around;
  }




  /*內容放置測試*/
  
  .herb{
    display:flex;
    flex-direction: column;
    flex-basis:1;
    height:300px;
    /*border:#fb0404;border-style:solid;border-width:12px;padding:5px;*/
    font-size: 20px;
    font-family: DFKai-sb;
    color: black;
    text-align: center;
    margin:20px;
  }
  .herb-img{
    width: 230px; /* 调整图像的宽度 */
    height: 150px; /* 调整图像的高度 */
    vertical-align: middle; /* 可选：将图像垂直居中 */
    margin: 20px;
    border-radius: 10px; /* 圓弧形的四個角 */
  }


  /*側邊選項*/
  .ChoiceItem{/*level 7*/
    flex-basis:1;
    
    /*border:#fb0404;border-style:solid;border-width:12px;padding:5px;*/
    font-size: 12px;
    font-family: DFKai-sb;
    color: black;
    text-align: center;

    background-color: rgb(228, 239, 239);
    border-radius: 5px;
    padding:10px;
    margin:5px;

  }
  
  .ValueItem{/*level 7*/
    /* background-color: rgb(0, 255, 81); BG*/
    height:30px;
    padding:5px;
  }
  .numberInput{
    width:30px;
    height:15px;
  }
  .ChoiceItemsWrapper{/*level 6*/
    margin:5px;    
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content:space-around;
    background-color: rgb(237, 191, 126); 
    border-radius: 5px;
  }
  .subCard{/*level 5*/
    /* background-color: blue; BG*/
    padding:1px;
  }
  .subCardWrapper{/*level 4*/
    /* background-color: greenyellow; BG*/
    width:100%;
    
    display: none; /* 初始状态隐藏内容 */
    background-color: aquamarine;
    padding: 10px;
    flex-flow: row wrap;
    align-content:space-around;
  }
  .cardName{/*level 3*/
    background-color: rgb(228, 239, 239);
    border-radius: 5px;
    padding:10px;
    margin:5px;
  }
  

  
  